.DS_Store
node_modules/
**/node_modules/
dist/
**/dist/
.serverless/
**/.serverless/
.esbuild/
**/.esbuild/
*.log
apps/ui/.vite
apps/ui/tsconfig.tsbuildinfo
.tmp/
.env
.env.*
!.env.example
!apps/api/.env.example
apps/api/.env.local
apps/api/.env.*.local
apps/api/.env.ci
