version: '3.9'
services:
  dynamodb:
    image: amazon/dynamodb-local:latest
    container_name: dynamodb-local
    ports:
      - "8000:8000"
    command: -jar DynamoDBLocal.jar -sharedDb -inMemory
    # For durable storage, comment out 'inMemory' above and add a volume mapping below
    # volumes:
    #   - ./dynamodb_data:/home/dynamodblocal/data
