service: projects-api

frameworkVersion: '4'

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  stage: dev
  httpApi:
    cors:
      allowedOrigins:
        - '*'
      allowedHeaders:
        - Content-Type
        - Authorization
      allowedMethods:
        - OPTIONS
        - GET
        - POST
        - PUT
        - DELETE
      allowCredentials: false
  environment:
    TABLE_NAME: ${self:service}-${sls:stage}-Projects
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: '1'
    COGNITO_USER_POOL_ID:
      Ref: CognitoUserPool
    COGNITO_USER_POOL_CLIENT_ID:
      Ref: CognitoUserPoolClient
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:PutItem
            - dynamodb:GetItem
            - dynamodb:DeleteItem
            - dynamodb:Query
            - dynamodb:UpdateItem
          Resource:
            - arn:aws:dynamodb:${aws:region}:*:table/${self:provider.environment.TABLE_NAME}
            - arn:aws:dynamodb:${aws:region}:*:table/${self:provider.environment.TABLE_NAME}/index/*

build:
  esbuild:
    bundle: true
    minify: false
    sourcemap: true
    target: node20
    platform: node
    tsconfig: ./tsconfig.json

plugins:
  - ./scripts/local-env-plugin
  - serverless-offline

custom:
  serverless-offline:
    httpPort: 3000
    lambdaPort: 3002
  # When running offline, set this env var so the code points to local DynamoDB endpoint
  project:
    dynamodbEndpoint: http://localhost:8000
  stageFunctions:
    default:
      createProject:
        handler: src/projects.create
        events:
          - httpApi:
              method: POST
              path: /projects

      getProject:
        handler: src/projects.get
        events:
          - httpApi:
              method: GET
              path: /projects/{id}

      listProjectsByUser:
        handler: src/projects.listByUser
        events:
          - httpApi:
              method: GET
              path: /projects

      updateProject:
        handler: src/projects.update
        events:
          - httpApi:
              method: PUT
              path: /projects/{id}

      deleteProject:
        handler: src/projects.remove
        events:
          - httpApi:
              method: DELETE
              path: /projects/{id}

      createTask:
        handler: src/tasks.create
        events:
          - httpApi:
              method: POST
              path: /projects/{projectId}/tasks

      getTask:
        handler: src/tasks.get
        events:
          - httpApi:
              method: GET
              path: /projects/{projectId}/tasks/{taskId}

      listTasksByProject:
        handler: src/tasks.listByProject
        events:
          - httpApi:
              method: GET
              path: /projects/{projectId}/tasks

      updateTask:
        handler: src/tasks.update
        events:
          - httpApi:
              method: PUT
              path: /projects/{projectId}/tasks/{taskId}

      deleteTask:
        handler: src/tasks.remove
        events:
          - httpApi:
              method: DELETE
              path: /projects/{projectId}/tasks/{taskId}
    local-dev: {}

package:
  patterns:
    - "!node_modules/**"
    - "src/**"

functions: ${self:custom.stageFunctions.${sls:stage}, self:custom.stageFunctions.default}

resources:
  Conditions:
    DeployFullStack:
      Fn::Not:
        - Fn::Equals:
            - ${sls:stage}
            - local-dev
  Resources:
    ProjectsTable:
      Condition: DeployFullStack
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.TABLE_NAME}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
          - AttributeName: SK
            AttributeType: S
          - AttributeName: GSI1PK
            AttributeType: S
          - AttributeName: GSI1SK
            AttributeType: S
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
          - AttributeName: SK
            KeyType: RANGE
        GlobalSecondaryIndexes:
          - IndexName: GSI1
            KeySchema:
              - AttributeName: GSI1PK
                KeyType: HASH
              - AttributeName: GSI1SK
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
    CognitoUserPool:
      Type: AWS::Cognito::UserPool
      Properties:
        UserPoolName: ${self:service}-${sls:stage}-users
        AutoVerifiedAttributes:
          - email
        UsernameAttributes:
          - email
        AccountRecoverySetting:
          RecoveryMechanisms:
            - Name: verified_email
              Priority: 1
        AdminCreateUserConfig:
          AllowAdminCreateUserOnly: false
        Policies:
          PasswordPolicy:
            MinimumLength: 8
            RequireLowercase: true
            RequireNumbers: true
            RequireSymbols: false
            RequireUppercase: true
    CognitoUserPoolClient:
      Type: AWS::Cognito::UserPoolClient
      Properties:
        ClientName: ${self:service}-${sls:stage}-web
        UserPoolId:
          Ref: CognitoUserPool
        AllowedOAuthFlowsUserPoolClient: true
        AllowedOAuthFlows:
          - code
        AllowedOAuthScopes:
          - email
          - openid
          - profile
        CallbackURLs:
          - http://localhost:5173/auth/callback
        LogoutURLs:
          - http://localhost:5173/logout
        GenerateSecret: false
        PreventUserExistenceErrors: ENABLED
        SupportedIdentityProviders:
          - COGNITO
        RefreshTokenValidity: 30
        ExplicitAuthFlows:
          - ALLOW_REFRESH_TOKEN_AUTH
          - ALLOW_USER_PASSWORD_AUTH
  Outputs:
    CognitoUserPoolId:
      Value:
        Ref: CognitoUserPool
      Export:
        Name: ${self:service}-${sls:stage}-UserPoolId
    CognitoUserPoolClientId:
      Value:
        Ref: CognitoUserPoolClient
      Export:
        Name: ${self:service}-${sls:stage}-UserPoolClientId
